/**************
 *  Tab Styles
 **************/
.tab{
	border: 1px solid black;
	/*border-bottom: 1px solid white;*/
	float: left;
	margin: 0px 5px;
	margin-bottom: -1px;
	padding: 10px;
	height: 20px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	box-shadow: inset 0px -4px 9px -6px; 
background-color:rgb(190, 206, 218);


background: #beced7; /* Old browsers */
background: -moz-linear-gradient(top,  #beced7 1%, #77a7d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#beced7), color-stop(100%,#77a7d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #beced7 1%,#77a7d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #beced7 1%,#77a7d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #beced7 1%,#77a7d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #beced7 1%,#77a7d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beced7', endColorstr='#77a7d1',GradientType=0 ); /* IE6-9 */

}



.tab_active{
	background: none;
	background-color: #fff;
	border-bottom: 1px solid white;
	box-shadow: none;
	font-weight: bold;
}
.tab:hover{cursor: pointer;}

.tab_wrap{
	padding-left: 10px;
	z-index: 100;

}

/******************
 * Demo box Styles
 ******************/

.demo{
	display: none;
	clear: both;
	border:1px solid black;
	background-color: #fff;
	margin: 0px;
	padding: 20px;
	border-radius: 10px;
	z-index: -1;
	box-shadow: 10px 10px 25px #888888;
}
.demo_wrap{
	height: 600px;
	width: 900px;
	max-width: 900px;
	margin: 0 auto;
	z-index: -1;

}


/*******************************
 * Sketchpad and General Styles
 *******************************/

.sketchpad {
	border: 1px solid black;
	margin: 5px;
	float: left;
}


.align_middle{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.clear{clear:both;}


.button{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	background: #fff;
}
.button:hover{
	cursor:pointer;
	background-color: #eee;
}

.clear_button{
	width: 40px;
	margin-left: 5px;
	padding: 3px;
	
}

/*******************
 * Demo 1 Styles 
 *******************/

 .result_box{
 	margin-left: 20px;
 	margin-top: 20px;
 	float: left;
 }

 /*******************
 * Demo 2 Styles 
 *******************/
#demo_2_directions{
	font-size: 1.2em;
}
#demo_2_text{
	font-size: 1.3em;
	font-weight: bold;
}
.new_letter_button{
	width: 100px;
	margin-left: 5px;
	
 }

 .done_button{
 	width: 50px;
	margin-left: 5px;
	padding: 3px;
 }
#demo_2_done_button{
	float: left;
}

 #demo_2_clear_button{
 	float:left;
 	padding: 3px;
 }

 #demo_2_accuracy{
 	margin-left: 5px;
 }

 #demo_2 > p, #demo_2 > div{
 	margin-left: 5px;
 }

 .accuracy_box{
 	padding: 5px;
 	width: 140px;
 	/*margin-top: 10px;*/
 	border-radius: 8px;
 	float: left;
 }


 /*******************
 * Demo 3 Styles 
 *******************/

.new_eq_button{
	width: 100px;
}

#demo_3_eq{
	font-size: 6em;
}
#demo_3_eq > div{
	margin: 20px;
	float:left;
}

#demo_3_button_wrap{
	float: left;
	padding-top: 10px;
}


#demo_3_button_wrap > div{
	float: none;
	margin-left: 10px;
	margin-top: 10px;
}

#demo_3_answer {
	width: 140px;
	border-radius: 8px;
	padding: 5px;
	margin: 10px 5px;
	font-weight: bold;
}


 /*******************
 * Demo 4 Styles 
 *******************/
#demo_4_content_wrap > div{
	float: left;
	width: 200px;

}

#demo_4_middle_col{
		text-align: center;
	vertical-align: middle;
}

#demo_4_clear_button{
	margin-left: 40px;
	margin-top: 10px;
	width: 100px;
}

#demo_4_results {
	margin-top: 90px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 6px;

}